.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  font-family: system-ui;
  color: darkblue;
  font-size: 4rem;
  margin-top: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: cornflowerblue;
}
.calculator {
  background-color: black;
  padding: 2rem;
  display: grid;
  grid-gap: 1rem;
  border-radius: 2%;
  box-shadow: 13px 11px 15px grey;
  max-width: fit-content;
  &__brand {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: sans-serif;
  }
  &__display {
    border: 2px solid grey;
    background-color: lightgrey;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__pad {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem;
    grid-template-rows: 4rem 4rem 4rem 4rem;
    grid-gap: 1rem;
  }
}

.display {
  &__operation {
    font-size: 2rem;
    font-family: monospace;
    font-weight: 600;
    user-select: none;
  }
  &__result {
    font-size: 3rem;
    font-family: monospace;
    font-weight: 600;
    user-select: none;
  }
}

.pad {
  &__button {
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 12%;
    background-color: dimgrey;
    color: whitesmoke;
    &:hover {
      background: rgb(68, 68, 68);
    }
    &:active {
      transform: translate(0em, 0.1em);
      &::before {
        transform: translate3d(0, 0, -0.1em);
      }
    }
  }
}
